* {
    margin: 0;
    padding: 0;;
}

.contents {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}

.posts {
    width: 500px;
    margin: 0 auto;
    background-color: #fff;;
    border: solid 1px lightgray;
    margin-bottom: 30px;
}

.top {
    margin: 0 auto;
    padding: 15px;
    border-bottom: solid 1px lightgray ;
}

.bottom {
    margin: 0 auto;
    padding: 10px;
}

.input {
    width: 100%;
    padding: 10px;
}

.submit {
    display: block;
    margin-left: auto;
    margin-top: 10px;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.sns {
    width: 500px;
    margin: 0 auto;
    background-color: white;
}

.sns_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.sns_top p {
    text-align: right;
}

.sns_bottom {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px lightgray;
}

.sns_bottom p {
    padding: 0 20px;
}

span a {
    color: red;;;
    padding: 0 20px;
}

span a:hover {
    text-decoration: none;
    color: red;
}